html {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

main {
    width: 1200px;
}

h1 {
    text-align: center;
}

#personalPicture {
    width: 350px;
    float: left;
    padding: 5px;
    margin-right: 20px;
}

#bio {
    padding: 5px;
}

#bio ul {
    list-style-position: inside;
}

#bio li:hover {
    color: blue;
}

a:link:hover, a:visited:hover {
    color: red;
}

.stanford {
    color: rgb(189, 32, 49);
    font-weight: bold;
}